/* section spacing */

.elementor-section {
  padding-top: 65px;
}

/* spacing - custom class */
.no-space {
  padding-top: 0;
}



/* toggles */

.elementor-toggle-item {
  padding: 15px;
}

.elementor-toggle .elementor-tab-title .elementor-toggle-icon.elementor-toggle-icon-left {
  margin-right: 8px;
}



/* link lists - icon lists element */

.elementor-widget .elementor-icon-list-item {
  padding: 25px; 
}



/* tables */

.tablepress tr, .tablepress td {
	border: 2px solid #ddd;
}

.tablepress .row-1 {
	border: 2px solid #1e4d2b; 
}

.tablepress th {
		border: 2px solid #1e4d2b; 
}



/* tutorials footer - custom class */

.tutorials-footer {
	border: 2px solid #82c503;
	background-color: pink;
}

.tutorials-footer-heading {
	background-color: #82c503;
	text-align: center;
}

.tutorials-menu ul {
	justify-content: space-around;
	background-color: green;
}

.tight .elementor-icon-list-item {
  padding: 0; 
}
