/* section spacing */

.elementor-section {
  padding-top: 65px;
}

/* spacing - custom class */
.no-space {
  padding-top: 0;
}



/* toggles */

.elementor-toggle-item {
  padding: 15px;
}

.elementor-toggle .elementor-tab-title .elementor-toggle-icon.elementor-toggle-icon-left {
  margin-right: 8px;
}



/* link lists - icon lists element */

.elementor-widget .elementor-icon-list-item {
  padding: 25px; 
}



/* tables */

.tablepress tr, .tablepress td {
	border: 2px solid #ddd;
}

.tablepress .row-1 {
	border: 2px solid #1e4d2b; 
}

.tablepress th {
	border: 2px solid #1e4d2b; 
}



/* tutorials footer - custom classes */

.tutorials-footer-heading {
	background-color: #82c503;
	text-align: center;
}

.tutorials-footer {
	border: 5px solid #82c503;
}

/* tutorials footer */

#menu-tutorials-concepts {
	column-count: 2;
}

#menu-tutorials-concepts li {
	padding: 7px 25px 7px 0;
	-webkit-column-break-inside: avoid; 
	page-break-inside: avoid; 
	break-inside: avoid;
}

#menu-tutorials-platforms-and-tools {
	column-count: 2;
}

#menu-tutorials-platforms-and-tools li {
	padding: 7px 25px 7px 0;
	-webkit-column-break-inside: avoid; 
	page-break-inside: avoid; 
	break-inside: avoid;
}

@media only screen and (max-width: 930px) {
  #menu-tutorials-concepts, #menu-tutorials-platforms-and-tools {column-count: 1;}
} 


/* embedded videos */

.video-600 {
	max-width: 600px;
}
