									/* container background colors - custom class */
.csu-green-bg {
	background-color: #1e4d2b;
	padding-left: 15px;
	padding-right: 15px;}
					.csu-green-bg * {
						color: white;}
.csu-gold-bg {
	background-color: #C8C372;
	padding-left: 15px;
	padding-right: 15px;}
					.csu-gold-bg * {
						color: #1e4d2b;}
.oval-green-bg {
	background-color: #006144;
	padding-left: 15px;
	padding-right: 15px;}
					.oval-green-bg * {
						color: white;}
.lovers-lane-bg {
	background-color: #82c503;
	padding-left: 15px;
	padding-right: 15px;}
					.lovers-lane-bg * {
						color: #1e4d2b;}
.energy-green-bg {
	background-color: #CFFC00;
	padding-left: 15px;
	padding-right: 15px;}
					.energy-green-bg * {
						color: #1e4d2b;}
.flower-trial-red-bg {
	background-color: #E56A54;
	padding-left: 15px;
	padding-right: 15px;}
					.flower-trial-red-bg * {
						color: black;}
.powered-purple-bg {
	background-color: #7E5475;
	padding-left: 15px;
	padding-right: 15px;}
					.powered-purple-bg * {
						color: white;}
.horsetooth-blue-bg {
	background-color: ##008FB3;
	padding-left: 15px;
	padding-right: 15px;}
					.horsetooth-blue-bg * {
						color: black;}
.stalwart-slate-bg { 
	background-color: #105456;
	padding-left: 15px;
	padding-right: 15px;}
					.stalwart-slate-bg * {
						color: white;}
.sunshine-bg {
	background-color: #FFC038;
	padding-left: 15px;
	padding-right: 15px;}
					.sunshine-bg * {
						color: #1e4d2b;}


									/* section spacing */

.elementor-section {
  padding-top: 65px;
}


									/* spacing - custom class */
.no-space {
  padding-top: 0;
}

.extra-padding {
	padding-left: 30px;
	padding-right: 30px;
}

									/* full width - custom class */
.full-width {
	display: block;
	width: 100%;
}
									/* toggle element */

.elementor-toggle-item {
  padding: 15px;
}

.elementor-toggle-item h2, .elementor-toggle-item h3,  .elementor-toggle-item h4, .elementor-toggle-item h5, .elementor-toggle-item h6 {
    --font-size: var(--font-size-default-large);
	--font-weight: var(--font-weight);
}

.elementor-toggle .elementor-tab-title .elementor-toggle-icon.elementor-toggle-icon-left {
	margin-right: 8px;
}

.elementor-toggle-item img {
	display: block;
	padding-top: 15px;
	padding-bottom: 20px;
}

									/* icon lists element */

.elementor-widget .elementor-icon-list-item {
  padding: 25px; 
}


									/* tables */

.tablepress tr, .tablepress td {
	border: 2px solid #ddd;
}

.tablepress .row-1 {
	border: 2px solid #1e4d2b; 
}

.tablepress th {
	border: 2px solid #1e4d2b; 
}


									/* tutorials footer - custom classes for the sections */

.tutorials-footer-heading {
	background-color: #82c503;
	text-align: center;
}

.tutorials-footer {
	border: 5px solid #82c503;
}


									/* tutorials footer */

#menu-tutorials-concepts {
	column-count: 2;
}

#menu-tutorials-concepts li {
	padding: 7px 25px 7px 0;
	-webkit-column-break-inside: avoid; 
	page-break-inside: avoid; 
	break-inside: avoid;
}

#menu-tutorials-platforms-and-tools {
	column-count: 2;
}

#menu-tutorials-platforms-and-tools li {
	padding: 7px 25px 7px 0;
	-webkit-column-break-inside: avoid; 
	page-break-inside: avoid; 
	break-inside: avoid;
}

@media only screen and (max-width: 930px) {
  #menu-tutorials-concepts, #menu-tutorials-platforms-and-tools {column-count: 1;}
} 


									/* embedded videos - custom class for the video element */

.video-600 {
	max-width: 600px;
}


									/* core concepts tutorial pages - custom class for the text editor element */

.concept-list li, .concept-list li::marker {
	padding-top: 15px;
	padding-bottom: 15px;
	color: #1e4d2b;
	font-weight: bold;
} 
