h1 {
  color: yellow;
}

.elementor-toggle .elementor-tab-title .elementor-toggle-icon.elementor-toggle-icon-left {
  margin-right: 50px;
}

.elementor-toggle .elementor-tab-title {
  padding: 25px;
}
