/* section spacing */

.elementor-section {
  padding-top: 65px;
}

/* custom class */
.no-space {
  padding-top: 0;
}



/* toggles */

.elementor-toggle-item {
  padding: 15px;
}

.elementor-toggle .elementor-tab-title .elementor-toggle-icon.elementor-toggle-icon-left {
  margin-right: 8px;
}



/* link lists - icon lists element */

.elementor-widget .elementor-icon-list-item {
  padding: 25px;
}



/* tables */

.tablepress tr, .tablepress td {
	border: 1px solid #ddd;
}

.tablepress .row-1 {
	background-color: pink;
}

