									/* section spacing */

.elementor-section {
  padding-top: 65px;
}

									/* spacing - custom class */
.no-space {
  padding-top: 0;
}



									/* toggle element */

.elementor-toggle-item {
  padding: 15px;
}

.elementor-toggle-item h2, .elementor-toggle-item h3,  .elementor-toggle-item h4, .elementor-toggle-item h5, .elementor-toggle-item h6 {
    --font-size: var(--font-size-default-large);
	
}

.elementor-toggle .elementor-tab-title .elementor-toggle-icon.elementor-toggle-icon-left {
	margin-right: 8px;
}


									/* icon lists element */

.elementor-widget .elementor-icon-list-item {
  padding: 25px; 
}



									/* tables */

.tablepress tr, .tablepress td {
	border: 2px solid #ddd;
}

.tablepress .row-1 {
	border: 2px solid #1e4d2b; 
}

.tablepress th {
	border: 2px solid #1e4d2b; 
}



									/* tutorials footer - custom classes for the sections */

.tutorials-footer-heading {
	background-color: #82c503;
	text-align: center;
}

.tutorials-footer {
	border: 5px solid #82c503;
}

									/* tutorials footer */

#menu-tutorials-concepts {
	column-count: 2;
}

#menu-tutorials-concepts li {
	padding: 7px 25px 7px 0;
	-webkit-column-break-inside: avoid; 
	page-break-inside: avoid; 
	break-inside: avoid;
}

#menu-tutorials-platforms-and-tools {
	column-count: 2;
}

#menu-tutorials-platforms-and-tools li {
	padding: 7px 25px 7px 0;
	-webkit-column-break-inside: avoid; 
	page-break-inside: avoid; 
	break-inside: avoid;
}

@media only screen and (max-width: 930px) {
  #menu-tutorials-concepts, #menu-tutorials-platforms-and-tools {column-count: 1;}
} 


									/* embedded videos - custom class for the video element */

.video-600 {
	max-width: 600px;
}


									/* core concepts tutorial pages - custom class for the text editor element */

.concept-list li, .concept-list li::marker {
	padding-top: 25px;
	padding-bottom: 20px;
	border-bottom: 1px  solid #ddd;
	color: #1e4d2b;
	font-weight: bold;
}

									/* images within lists - custom class for the toggle element */

.block-images img {
	display: block;
	padding-top: 15px;
	padding-bottom: 20px;
}


